@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

.headerText {
  font-family: 'Solitreo', cursive;
  color: #006d77;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.turnText {
  color: #006d77;
  font-family: 'Solitreo';
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
  row-gap: 5px;
  column-gap: 5px;
}

.square {
  border: 1px solid white;
  border-radius: 15px;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #006d77;
  color: #ffddd2;
  font-size: 22px;
}

.square:hover {
  background-color: #038692;
  border: 2px solid white;
}

.endOfTheGame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameOver {
  color: #e29578;
  font-family: 'Solitreo';
  font-weight: bold;
  font-size: 20px;
  margin-right: 25px;
}

.gameOverButton {
  font-family: 'Solitreo';
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  border: none;
  background-color: white;
  color: #006d77;
}

.gameOverButton:hover {
  background-color: #e29578;
  color: #ffddd2;
}